.plans{
    padding: 5.6vw;
    h2{
        text-align: center;
    }
    &__list{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        &__item{
            text-align: center;
            padding: 10px 24px 24px;
            width: 300px;
            max-width:350px;
            &:nth-child(2){
                background-image: url('../images/fundo_combo_plus.png');
                background-size: 400px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            img{
                width: 250px;
            }

       
            strong{
                display: block;
            }
        }
    }
    p{
        text-align: center;
    }
}