@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';


@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}
@mixin title($fontSize: 28px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;
}
@font-face{
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir-Regular.woff2');
    font-weight: bold;
}
body{
    background-color: variaveis.$corDeFundo;
}
button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corBotao;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vh;
    margin-bottom: 8px;
}
.clearfix{
    clear: both;
    display: table;
    content: '';
}
.text--big{
    @include text(18px);
}
.text{
    @include text
}
.text--small{
    @include text(12px);
}
.title--big{
    @include title(44px);
}
.title{
    @include title(40px);
}
.title--small{
    @include title(12px);
}
.link-text{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}
span{
    color: variaveis.$corTextoSecundario;
}